<!doctype html>
<html>
<head>
    <title>Packlytics Cloudant Cleaning</title>
</head>
<body>
<div style="padding:40px;">
    <h1>Packlytics Cloudant Cleaning</h1>
    <h2>Database monnit-hbs cleaning record</h2>
    <div style="padding:20px;"><%=monnithbs%></div>
    <p><%=err%>%></p>
</div>
</body>
</html>